
.barchart {
    position: relative;
    height: 15rem;
    width: 55%;
    background-color: #FBFBFB;
    padding-top: 4rem;
    padding-left: 3rem;
    

    &_title {
        position: absolute;
        top: 1rem;
        left: 2rem;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin: 0%;
    }

    &_barchart_container_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

       
    }

    &_legend {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }


}



.custom-tooltip {
    background-color: red;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 500;

}

.recharts-default-legend {
    text-align: right!important;
}

.recharts-cartesian-axis-tick-line {
    display: none;
}

.recharts-legend-item-text {
    color: black!important;
}

.recharts-legend-item {
    margin-left: 1rem;
}


// test

.daily-activity-chart {
    height: 25rem;
}




