.chart {
    position: absolute;
    top: 18rem;
    left: 20rem;
    width: 75%;
    height: 700px;
}

.line_chart {
    position: absolute;
    height: 16rem;
    width: 16rem;
    top: 20rem;
    background-color: red;
    color: white;
    border-radius: 10px;

    &_title {
        font-size: 35px;
    }

    &_legend {
        position: absolute;
        top: 0.7rem;
        left: 1.5rem;
        opacity: 0.6;
    }

    &_line {

        background-color: linear-gradient(90deg, rgba(255,255,255,0.7063200280112045), rgba(255,255,255,1) );

    }

    &_darkened {
        width: 30%;
        height: 100%;
        position: absolute;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        right: 0;
        background-color: black;
        opacity: 0.2;
        color: white;
    }
}

/* Ajout de css spécifique au module natifs de Rechats */

.recharts-line-dots {
    display: none;
}

.recharts-cartesian-axis-line {
    display: none;
}

