.chart {
    position: absolute;
    top: 18rem;
    left: 20rem;
    width: 75%;
    height: 600px;
    


    /*&_line {
        height: 15rem;
        width: 15rem;
    }*/
}

.line_chart {
    position: absolute;
    height: 15rem;
    width: 15rem;
    top: 15rem;
    background-color: red;
    color: white;
    border-radius: 10px;

    &_title {
        
        font-size: 35px;
        
    }

    &_legend {
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        opacity: 0.6;
    }

    &_line {
        opacity: 0.6;
    }
    
}

/* ajout de css spécifique au module rechats */

.recharts-line-dots {
    display: none;
}

.recharts-responsive-container {
    height: 50%;
}