.radial {
    background-color: #fbfbfb;
    border-radius: 10px;
    position: absolute;
    top: 15rem;
    left: 36rem;
    height: 16rem;
    width: 16rem;
}

.recharts-layer {
    min-width: 10rem;
   
}