.radial {
    background-color: #fbfbfb;
    border-radius: 10px;
    position: absolute;
    top: 20rem;
    left: 48rem;
    height: 45%;
    width: 25%;
}

.recharts-layer {
    min-width: 10rem;
   
}